body {
    font-family: cursive;
    font-size: 0.8em;
}

h1 {
    font-size: 1.2em;
}

li {
    list-style-type: none;
}

.row {
    margin: 5px 0;
}

.btn {
    padding: 5px 10px;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: #212529;
    cursor: pointer;
}

.btn.light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #212529;
}

.btn.light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    color: #212529;
}

.btn.primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.btn.primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #ffffff;
}

.btn.warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.btn.warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}

.btn.danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn.danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.btn.success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn.success:hover {
    background-color: #1e7e34;
    border-color: #218838;
    color: #fff;
}

.light {
    color: #e2e6ea;
}

.primary {
    color: #0069d9;
}

.warning {
    color: #856404;
}

.col-left {
    width: 80%;
    display: inline-block;
}

.col-right {
    width: 19%;
    display: inline-block;
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.form-label {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: 1%;
}

.form-elt {
    width: 60%;
    display: inline-block;
}

.form-desc {
    margin-left: 22%;
    font-style: italic;
    color: #495057;
}

.form-control {
    opacity: 1;
    display: inline-block;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.hide, .showIfDebugEnabled {
    display: none;
}

.scrollable {
    overflow-y: scroll;
    height: 300px;
}

.tip {
    font-style: italic;
    color: rgba(0, 0, 0, .5);
    margin-left: 10%;
}

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.spinner-on {
    vertical-align: middle;
    background: transparent url('spinner.svg') center;
    background-size: contain;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner-error {
    vertical-align: middle;
    background: transparent url('error.svg') center;
    background-size: contain;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

select, option {
    -webkit-appearance: none; /* WebKit/Chromium */
    -moz-appearance: none; /* Gecko */
}

select {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
}